h1 {
    color: brown;
    text-align: center;
}

.day-forecast {
    float: left;
    width: 8%;
    border-right: 1px solid brown;
    padding-left: 1em;
    height: 270px;
}

.day-forecast:last-child {
    border: none;
}